*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 50px 0px;
}

div.item-card {
    height: 100%;
}
div.image-container{
    height: 60%;
}
img.image-card-custom {
    max-height: 90%;
    padding: 10% 0px;
    object-fit:cover;
}
div.card-body-custom{
    height: 40%;
}
div.custom-card{
    width: 300px;
}
